@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-darkbg text-gray-900 dark:text-white transition-all;
}

.input {
  @apply w-full px-3 py-2 border dark:border-gray-700 rounded bg-white dark:bg-darkcard dark:text-white;
}
